{% extends 'base/base.html.twig' %}

{# Head Tag Begins #}
{% block title %}
403 Access Denied
{% endblock title %}


{# Body Tag Begins #}
{% block content %}
    <h1>404 ACCESS DENIED <small>&gt;:(</small></h1>
    <div>You are denied.</div>
{% endblock content %}