{% extends 'base/base.html.twig' %}

{# Head Tag Begins #}
{% block title %}
404 Page Not Found
{% endblock title %}


{# Body Tag Begins #}
{% block content %}
    <h1>404 NOT FOUND <small>:(</small></h1>
    <div>The page was not found.</div>
{% endblock content %}