{% extends 'base/base.html.twig' %}

{# Head Tag Begins #}
{% block title %}
Bad things happened
{% endblock title %}


{# Body Tag Begins #}
{% block content %}
    <h1>Error</h1>
    <div>Bad things happened, that were not supposed to.<br>Contact webmaster if issues persist.</div>
{% endblock content %}